<div id="header" class="span-24 last">
	<h1>
<%= image_tag "logo.png", :title => "logo",  :alt => "=" %> Pay
</h1>

</div>
<div id="mainmenu" class="span-24 last">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Show me the money", showmemoney_path %></li>
		<li><%= link_to "Ask for it", root_path %></li>
		<li><%= link_to "Find out more", root_path %></li>
      
	</ul>
</div>